body {
    font-family: Verdana;
    background-color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #A0CED8;
}


    /*header*/

#fixedHeader {
    background-color: #2C616D; 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

/*.logo{
    background: none;
    border-style: none;
    background-image: url(img/logo.PNG);
    width: 64px;
    height: 69px; 
}*/

.nav1{
    background: #042C33;
    border-radius: 7px;
    color: #fff;
    margin: 25px;
    padding: 10px;
    /*border-style: none;*/
    font-size: 20px;
}

.nav2{
    background: #042C33;
    border-radius: 7px;
    color: #fff;
    margin: 25px;
    padding: 10px;
    font-size: 20px;
}

.nav3{
    background: #042C33;
    border-radius: 7px;
    color: #fff;
    margin: 25px;
    padding: 10px;
    font-size: 20px;
}

.nav4{
    background: #042C33;
    border-radius: 7px;
    color: #fff;
    margin: 25px;
    padding: 10px;
    font-size: 20px;
}


    /*PAGE 1*/

#main{
    margin-left: 5%;
    margin-right: 5%;
}

.prev{
    margin: 100px;
    padding: 40px;
    text-align: center;
    margin-right: 10%;
    margin-left: 10%;
    background-color: #E4E5EE;
    border: 2px solid #042C33;
    border-radius: 17px;
}

.video{

}

#page1Butt{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.downButt1{
    background: none;
    border-style: none;
    background-image: url(img/windows.PNG);
    margin: 25px;
    width: 152px;
    height: 52px;
}

.downButt2{
    background: none;
    border-style: none;
    background-image: url(img/macos.PNG);
    margin: 25px;
    width: 153px;
    height: 52px;
}

.faq{
    background: none;
    border-style: none;
    background-image: url(img/faq.PNG);
    margin: 25px;
    height: 52px;
    width: 54px;
}


    /*PAGE 2*/

#info{
    margin-left: 5%;
    margin-right: 5%;
}

.gameplay{
    margin-top: 2%;
    text-align: center;
    margin-right: 10%;
    margin-left: 10%;
    background-color: #E4E5EE;
    border: 2px solid #042C33;
    border-radius: 17px;
}

.general{

    margin-top: 5%;
    margin-right: 10%;
    margin-left: 10%;
    background-color: #E4E5EE;
    border: 2px solid #042C33;
    border-radius: 17px;
}

.genPhoto{
    width: 1234px; 
    height: 684px;
    display: block;
    margin: 0 auto;
}

.complexity{

    margin-top: 5%;
    margin-right: 10%;
    margin-left: 10%;
    background-color: #E4E5EE;
    border: 2px solid #042C33;
    border-radius: 17px;
}

.compPhoto{
    width: 1234px; 
    height: 684px;
    display: block;
    margin: 0 auto;
}

.graphics{
    margin-top: 5%;
    margin-right: 10%;
    margin-left: 10%;
    background-color: #E4E5EE;
    border: 2px solid #042C33;
    border-radius: 17px;
}

.carousellvl {
    position: relative;
    width: 1234px;
    height: 684px;
    overflow: hidden;
    display: block;
    margin: 0 auto;;
  }
  
  .carousellvl-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 1234px;
    height: 684px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .carousellvl-item.active {
    opacity: 1;
  }
  
  .carousellvl-item img {
    width: 1234px;
    height: 684px;
    object-fit: cover;
  }

  
    /*PAGE 3*/

#world{
    margin-left: 5%;
    margin-right: 5%;
}

    /*PAGE 4*/

#contacts{
    margin-left: 5%;
    margin-right: 5%;
}

.dev1{
    margin-top: 2%;
    background-color: #E4E5EE;
    border: 2px solid #042C33;
    border-radius: 17px;
    padding: 2%;
}

.dev2{
    margin-top: 2%;
    background-color: #E4E5EE;
    border: 2px solid #042C33;
    border-radius: 17px;
    padding: 2%;
}

.dev3{
    margin-top: 2%;
    background-color: #E4E5EE;
    border: 2px solid #042C33;
    border-radius: 17px;
    padding: 2%;
}

.dev4{
    margin-top: 2%;
    background-color: #E4E5EE;
    border: 2px solid #042C33;
    border-radius: 17px;
    padding: 2%;
}